/* 'fixed'spacing of content, declaring box style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* darker white background */
body {
    background-color: #d9dcd6;
}
/* sets background and text color. font priority */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* horiseon text size, declaring inline block */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* header seo (darker white) color */
.header h1 .seo {
    color: #d9dcd6;
}
/* shifts links to right, sets size of text and font */
.header h2 {
    padding-top: 15px;
    display: inline-block;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* spacing between links */
.header h2 ul li {
    display: inline-block;
    margin-left: 25px;
}
/* color of links */
a {
    color: #ffffff;
    text-decoration: none;   
}
/* background image size, position and link */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* floats seo picture to left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* floats online rep pic to right  */
.float-right {
    float: right;
    margin-left: 25px;
}
/* sets size of content block for seo, online rep, and soc med */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* aside content font, spacing and color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}
/* aside border spacing  */
.benefit-lead {
    margin-bottom: 32px;  
}
/* evenly spaced */
.benefit-cost {
    padding-top: 29px;
}
/* aside title size and center */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* article "search engine opt" size, font, color and spacing */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* sets size of images */
.search-engine-optimization img {
    max-height: 200px;
}
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* article " onlinr rep managment" size, font, color and spacing */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.online-reputation-management img {
    max-height: 200px;
}
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* article "soc med marketing" size, font, color and spacing */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.social-media-marketing img {
    max-height: 200px;
}
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* footer size, spacing, alignment and font */
.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}